<header class="design_align_header">
  <div class="grid">
    <a href="/" class="logo"><img src="/assets/logo.png" alt=""></a>
    <nav>
      <ul>
        <li class="nav-interest"><a href="#">Interest</a></li>
        <li class="nav-request"><a href="#">Requests</a></li>
        <% if current_user %>
            <li class="nav-user"><a href="#"><%= current_user.name %></a></li>
            <li class="nav-sign-in">
            <%= link_to "Sign out", signout_path, id: "sign_out" %>
          </li>
        <% else %>
          <li class="nav-sign-in">
            <%= link_to "Sign in", "/auth/facebook", id: "sign_in" %>
          </li>
        <% end %>
      </ul>
    </nav>
  </div>
</header>


