.hero {
    background: url("/assets/hero-meeple-group.png") no-repeat scroll center bottom / 620px 140px transparent;
    height: 500px;
    padding-top: 70px;
    text-align: center;
    overflow: hidden;
    position: relative;
    width: 100%;
}

.hero h1 {
    font-size: 48px;
    line-height: 60px;
    letter-spacing: -1px;
}
.hero.download p {
    font-size: 16px;
    max-width: 515px;
    margin-left: auto;
    margin-right: auto;
}
.button.green {
    background: none repeat scroll 0% 0% #67AB49;
    border-color: #67AB49;
    color: #FFF;
    font-size: 18px;
    font-weight: 700;
    height: 44px;
    line-height: 40px;
    margin-bottom: 20px;
    margin-top: 25px;
    padding: 0px 15px;
}